/* .coursesPage{
    margin:0px 30px;        
}

.heading{
    font-size:20px;
}

.headingSection>img{
    width:250px;
}

.headingSection{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.headingSection p{
    font-size:15px;
    font-weight:light;
    color:darkslategray;
}

@media screen and (min-width:768px){

    .heading{
        font-weight:600;
        font-size:30px; 
        letter-spacing:1px;
    }

    .headingSection{
        margin-top:20px;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        align-items:start;
    }

    .headingSection>div{
        width:50%;
    }

    .headingSection>img{
        width:300px;
    }

    .headingSection p{
        font-size:15px;
        font-weight:light;
        color:darkslategray;
    }
}

@media screen and (min-width:1024px){

    .heading{
        font-weight:600;
        font-size:40px; 
        letter-spacing:1px;
    }

    .headingSection{
        margin-top:20px;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        align-items:start;
    }

    .headingSection>div{
        width:50%;
    }

    .headingSection>img{
        width:450px;
    }

    .headingSection p{
        font-size:20px;
        font-weight:light;
        color:darkslategray;
    }
}

@media screen and (min-width:1200px){

    .heading{
        font-weight:600;
        font-size:40px; 
        letter-spacing:1px;
    }

    .headingSection{
        margin-top:20px;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        align-items:start;
    }

    .headingSection>div{
        width:50%;
    }

    .headingSection>img{
        width:550px;
    }

    .headingSection p{
        font-size:20px;
        font-weight:light;
        color:darkslategray;
    }
}

@media screen and (min-width:1440px){

    .heading{
        font-weight:600;
        font-size:50px; 
        letter-spacing:1px;
    }

    .headingSection{
        margin-top:20px;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        align-items:start;
    }

    .headingSection>div{
        width:50%;
    }

    .headingSection>img{
        width:550px;
    }

    .headingSection p{
        font-size:25px;
        font-weight:light;
        color:darkslategray;
    }
} */

.coursesPage{
    padding:30px;
}
.coursesPage>h1{
    color:#e74163;
    margin-top:0px;
    font-size: x-large;
}
.courseTypeSection{
    display:flex;
}
.courseTypeSection>p{
    border:1px solid #e74163;
    padding:8px 10px;
    margin-bottom:0px;
    flex-grow:1;
    text-align: center;
    color:#e74163;
    letter-spacing: 0.3px;
    cursor:pointer;
    font-size:14px;
}
.courseTypeSection>p:nth-child(1){
    border-top-left-radius: 10px;
    border-right:none;
}
.courseTypeSection>p:nth-child(2){
    border-top-right-radius: 10px;
}
.courseTypeSection>.active{
    background-color: #e74163;
    color:white;
    font-weight:500;
}

@media screen and (min-width:768px){
    .coursesPage>h1{
        font-size:xx-large;
    }
    .courseTypeSection>p{
        flex-grow: 0;
        font-size: large;
        padding:10px 15px;
    }
}
