.unit-container{
    padding: 0px 30px;
}

@media screen and (min-width:1440px){
    .unit-container{
        width:60%;
        margin:0px auto 50px auto;
        /*border:1px solid lightgray;*/
        padding:20px 50px 40px 50px;
        border-radius:2px;
        box-shadow: 0px 1px 5px 1.5px lightgray;
    }
}